h3 {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.space-above {
  margin: 10px 0 0 0;
}

.message {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}